#header {
    background-color: #FAECF1;
}

.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(65, 63, 63);
    height: 60PX;
    font-size: 50px;
    padding-top: 15px;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 25px;
}

.nav-bar {
    width: auto;
    float: left;
    position: fixed;
    left: 0;
    margin-bottom: 180px;

}


.nav-bar li {
    list-style: none;
    border-bottom: 1px solid rgb(235, 232, 232);
    padding: 14px 17px 14px 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.nav-bar li:last-child {
    margin-bottom: 150px;
}

.nav-bar ul :last-child {
    margin-bottom: 50px;
    border-bottom: none;
}

.nav-bar li:hover {
    background-color: #FAECF1;
}

#menu_selecao {
    background-color: #FAECF1;
}

aside {
    width: 1200px;
    margin-right: 20px;
    margin-bottom: 120px;
    height: auto;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-bottom: 150px;
    margin-left: 250px;
    
}

.show {
    width: 800px;
    height: auto;
    margin-top: 60px;
    font-family: system-ui;
    font-size: 18px;
    color: #103075;
    padding-left: 20px;
    padding-bottom: 30px;
       
}

.cards_1 {
    border: 1px solid rgb(235, 232, 232);
    width: 450px;
    height: auto;
    margin-top: 40px;
    margin-right: 40px;
    float: left;
}

.cards_relatos {
    width: 900px;
    height: auto;
    margin-right: 60px;
    font-family: monospace;

}

.cards_titulo {
    margin-right: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
    color: white;
    position: absolute;
    display: inline;
    margin-left: -420px;
    margin-top: 90px;
}

.cards_img {
    width: 450px;
    height: 150px;
    display: inline-block;
    position: relative;
}

.cards_nome {
    height: 30px;
    font-family: system-ui;
    font-weight: bold;
    padding-left: 20px;
}

.cards_descricao {
    height: auto;
    text-align: justify;
    font-family: system-ui;
    font-size: 14px;
    padding-left: 20px;
    padding-right: 20px;
}

.cards:last-child {
    margin-bottom: 150px;
}

.cards_2 {
    border: 1px solid rgb(235, 232, 232);
    width: 450px;
    height: auto;
    display: inline-block;
    margin-top: 40px;
    position: relative;
}

.cards_saibamais {
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dimgray;
    margin: 1px;
    padding-left: 20px;

}

.cards_3 {
    border: 1px solid rgb(235, 232, 232);
    width: 450px;
    height: autp;
    margin-top: 40px;
    margin-right: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;

}

.cards_4 {
    border: 1px solid rgb(235, 232, 232);
    width: 450px;
    height: auto;
    display: inline-block;
    margin-top: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}


.cards {
    border-bottom: 1px solid rgb(235, 232, 232);
    width: 900px;
    height: auto;
    margin-top: 40px;
    margin-right: 40px;
    float: left;
}

.cards_psicologo:last-child {
    margin-bottom: 150px;
}

.cards_psicologo1 {
    width: 800px;
    height: auto;
    margin-top: 40px;
    margin-left: 400px;
    display: grid;
    float: left;
}

.info_usuario {
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.info_usuario_1 {
    height: auto;
    text-align: justify;
    font-family: system-ui;
    margin-top: 1px;

}

.cards_psicologo_nome {
    width: 800px;
    height: 30px;
    padding-left: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.cards_psicologo_descricao {
    width: 600px;
    height: auto;
    padding-left: 100px;
    padding-right: 100px;
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;

}

.cadastro_psicologo {
    display: inline;

}

#perfil {
    font-family: unset;
    font-size: 15px;
    border-radius: 10px;
    padding: 08px;
    margin: 0px 40px 50px 150px;
}

.cards_psicologo_perfil {
    width: 900px;
    height: 600px;
    margin-top: 40px;
    margin-left: 400px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    float: left;
}

.img_cadastro {
    width: 150px;
    height: 150px;
    margin-top: 10px;
}

.formulario_cadastro_top {
    width: 500px;
    display: flex;
    float: left;
}

.textarea_cadastro {
    width: 398px;
    height: 139px;
    padding-left: 15px;
}


.formulario_cadastro {
    padding-left: 80px;
    display: block;
    background-color: #faf9f9;
}

label {
    width: 200px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    color: #5f5e5e;
    display: block;
    margin-left: 10px;
    margin-bottom: 4px;
}

input {
    width: 400px;
    padding: 7px 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    outline: none;
    border-radius: 6px;
    border: none;
    font-size: 14px;
    margin-right: 8px;
}

input:focus {
    background-color: lightblue;
    color: black;
}

.cards_cadastro {
    width: 1100px;
    height: auto;
}

.img_perfil_psicologo {
    float: left;
    display: block;
    padding-right: 20px;
}



.cards_psicologo_contato {
    width: 800px;
    height: auto;
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dimgray;
    margin: 1px;
    padding-left: 20px;
    margin-top: 40px;
}



button {
    border-radius: 15px;
    text-transform: uppercase;
    color: #504f4f;
    background-color: #d3cdcd;
    border: none;
    font-size: 11px;
    padding: 8px;
    margin-bottom: 20px;
    margin-right: 30px;
}

.img_perfil_imigrante {
    width: 150px;
    height: 150px;
    display: flex;
}

.footer {
    background-color: #FAECF1;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0;
}

.footer-content li {
    list-style: none;
    display: inline;
    padding-left: 23px;
    list-style-type: none;
    font-size: 24px;
}

#facebook-link {
    color: #3b5998;
}

#instagram-link {
    color: #ce125b;
}

#whatsapp-link {
    color: #008000;
}


.footer-content ul {
    float: left;
    margin-top: 40px;
    list-style-type: none;
}

.nav-bar-link {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: dimgray;
    text-decoration: none;
}

.footer-slogan {
    text-align: center;
    padding-top: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.footer-content-img {
    padding-top: 10px;
    padding-right: 100px;
    display: inline;
    float: right;
}

#copy {
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.background {

    margin-top: 5%;
    height: auto;
    padding-left: 30px;
    padding-top: 10px;
    background-color: #FAECF1;
    font-family: system-ui;
    margin-bottom: 150px;
    width: 670px;
}

.titulo {
    font-size: 24px;
    max-width: 100%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


.subtitulo {
    font-size: 20px;
}